.f1{
    text-align: center;
    text-transform: capitalize;
    text-decoration-color: rgb(235, 16, 235);
    padding-top: 40px;
    color: red;
    
        
    
}
.KI{
    font-size: 18px;
    font-weight: bold;
    margin-top: 4rem;
    margin-bottom: 5rem;
    margin-left: 7rem;
    margin-right: 8rem;
    padding-left: 300px;
}
